<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" href="">Business Cards</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/addCard" routerLinkActive="active">Add Card</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="Cards" routerLinkActive="active">View Cards</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">import</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="OpenCSVDialog()">import CSV</a></li>
            <li><a class="dropdown-item" (click)="OpenXMLDialog()">import XML</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Export</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="ExportCSV()">Export CSV</a></li>
            <li><a class="dropdown-item" (click)="ExportXML()">Export XML</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  
  <ng-template #callCSVImport>
    <div
      class="csv-dialog-container"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onCSVSelected($event)"
      [class.drag-over]="isDragging"
    >
      <h2>Import CSV</h2>
  
      <div class="drop-zone">
        <p>Drag & drop your CSV file here or click to upload</p>
        <input
          type="file"
          accept=".csv"
          (change)="onCSVSelected($event)"
          class="file-input"
        />
      </div>
  
      <p *ngIf="selectedFileName" class="file-name">
        Selected file: <strong>{{ selectedFileName }}</strong>
      </p>
    </div>
    <button (click)="closeCSVDialog()" class="close-btn" style="margin-left: 5px; margin-top: 50px;">Close</button>
  </ng-template>
  

  <ng-template #callXMLImport>
    <div
      class="csv-dialog-container"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onXMLSelected($event)"
      [class.drag-over]="isDragging"
    >
      <h2>Import XML</h2>
  
      <div class="drop-zone">
        <p>Drag & drop your XML file here or click to upload</p>
        <input
          type="file"
          accept=".xml"
          (change)="onXMLSelected($event)"
          class="file-input"
        />
      </div>
  
      <p *ngIf="selectedXMLFileName" class="file-name">
        Selected file: <strong>{{ selectedXMLFileName }}</strong>
      </p>
    </div>
  
    <button
      (click)="closeXMLDialog()"
      class="close-btn"
      style="margin-left: 5px; margin-top: 50px;"
    >
      Close
    </button>
  </ng-template>
  