<app-navbar></app-navbar>
<div class="text-center mt-5" style="padding-bottom: 8%; padding-top: 2%;">
    <h1 class="display-4 fw-bold">Welcome to the Business Card Manager</h1>
    <p class="lead mt-3 mb-4">
      Easily create, import, manage, and export business card information.
    </p>
  
    <img src="../assets/Images/businessCard.png" alt="Business Card Illustration" class="img-fluid mb-4" style="max-width: 200px;">
  
    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <a routerLink="addCard" class="btn btn-primary btn-lg">Add New Card</a>
      <a routerLink="/import" class="btn btn-outline-secondary btn-lg">Import Cards</a>
      <a routerLink="Cards" class="btn btn-outline-dark btn-lg">View All Cards</a>
    </div>
  </div>
  
<app-footer></app-footer>